---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title" itemprop="name">
        {{ page.title }}
    </h1>

    <div class="post-meta">
        {% if page.date %}
        <time pubdate="pubdate" datetime="{{ page.date | date_to_xmlschema }}">
            <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
            {{ page.date | date_to_long_string }} &mdash;
        </time>
        {% endif %}{{ page.location }}
    </div>

    

    {% if page.tldr %}
    <div class="post-shortcuts">
        <p>Jump to: <a href="#tl-dr">TL;DR</a></p>
    </div>
    {% endif %}

    <div class="post-body" itemprop="articleBody">
        {{ content }}
    </div>

    
<em class="fork-and-edit christmas">
        By the way, I try to write in english as well as possible, if there is an issue please don't hesitate and add a comment Thank you &hearts;
        
    </em>
    

    
</article>




<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
